<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.softtech.mappers.TblJournalDetailMapper">

    <!-- Select all journal details -->
    <select id="getAllJournalDetails" resultType="com.softtech.entity.TblJournalDetail">
        SELECT
            jd.uid,
            jd.bookDate,
            jd.lineNumber,
            jd.debitAccountTitleID,
            jd.creditAccountTitleID,
            a.name as debitAccountTitleName,
            a.name as creditAccountTitleName,
            jd.debitDescription,
            jd.creditDescription,
            jd.debitcdTaxationKbn,
            jd.creditcdTaxationKbn,
            jd.debitcdCTaxPriceKbn,
            jd.creditcdCTaxPriceKbn,
            jd.debitTransValue,
            jd.creditTransValue
        FROM TblJournalDetail jd
        LEFT JOIN TblAccount a ON jd.debitAccountTitleID = a.uid
    </select>

    <!-- Insert a new journal detail -->
    <insert id="insertJournalDetail" parameterType="com.softtech.entity.TblJournalDetail">
        INSERT INTO TblJournalDetail (
            uid,
            bookDate,
            lineNumber,
            debitAccountTitleID,
            debitDescription,
            debitcdTaxationKbn,
            debitcdCTaxPriceKbn,
            debitTransValue,
            creditAccountTitleID,
            creditDescription,
            creditcdTaxationKbn,
            creditcdCTaxPriceKbn,
            creditTransValue
        ) VALUES (
            #{uid},
            #{bookDate},
            #{lineNumber},
            #{debitAccountTitleID},
            #{debitDescription},
            #{debitcdTaxationKbn},
            #{debitcdCTaxPriceKbn},
            #{debitTransValue},
            #{creditAccountTitleID},
            #{creditDescription},
            #{creditcdTaxationKbn},
            #{creditcdCTaxPriceKbn},
            #{creditTransValue}
        )
    </insert>

    <!-- Update an existing journal detail -->
    <update id="updateJournalDetail" parameterType="com.softtech.entity.TblJournalDetail">
        UPDATE TblJournalDetail SET
            divisionID = #{divisionID},
            projectID = #{projectID},
            generalHeaderID = #{generalHeaderID},
            journalHeaderID = #{journalHeaderID},
            bookDate = #{bookDate},
            cdFormStatus = #{cdFormStatus},
            lineNumber = #{lineNumber},
            detailDate = #{detailDate},
            cdContentKbn = #{cdContentKbn},
            cdDrCrKbn = #{cdDrCrKbn},
            accountTitleID = #{accountTitleID},
            cashFlowTitleID = #{cashFlowTitleID},
            cdTransactionDetailKbn = #{cdTransactionDetailKbn},
            transactionDetailID = #{transactionDetailID},
            description = #{description},
            cdTaxationKbn = #{cdTaxationKbn},
            cdCTaxPriceKbn = #{cdCTaxPriceKbn},
            cTaxRate = #{cTaxRate},
            transValue = #{transValue},
            netValue = #{netValue},
            cTaxValue = #{cTaxValue},
            displayValue = #{displayValue},
            cdNegationStatus = #{cdNegationStatus},
            updateID = #{updateID},
            updateDate = #{updateDate}
        WHERE uid = #{uid}
    </update>

    <!-- Select the maximum line number from TblJournalDetail -->
   <select id="getMaxLineNumber" resultType="int">
    SELECT COALESCE(MAX(lineNumber), 0) FROM TblJournalDetail
</select>

    <!-- Select all accounts from TblAccount -->
    <select id="getAllAccounts" resultType="com.softtech.entity.TblAccount">
        SELECT * FROM TblAccount
    </select>

</mapper>
