<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.softtech.mappers.TblJournalDetailMapper">

    <!-- すべての仕訳明細を選択する -->
    <select id="getAllJournalDetails" resultType="com.softtech.entity.TblJournalDetail">
      SELECT
    jd.uid,
    jd.bookDate,
    jd.lineNumber,
    jd.debitAccountTitleID,
    jd.creditAccountTitleID,
    CASE WHEN jd.debitAccountTitleID IS NOT NULL THEN a.name ELSE '' END AS debitAccountTitleName,
    CASE WHEN jd.creditAccountTitleID IS NOT NULL THEN b.name ELSE '' END AS creditAccountTitleName,
    jd.debitDescription,
    jd.creditDescription,
    jd.debitcdTaxationKbn,
    jd.creditcdTaxationKbn,
    jd.debitcdCTaxPriceKbn,
    jd.creditcdCTaxPriceKbn,
    jd.debitTransValue,
    jd.creditTransValue
FROM TblJournalDetail jd
LEFT JOIN TblAccount a ON jd.debitAccountTitleID = a.uid
LEFT JOIN TblAccount b ON jd.creditAccountTitleID = b.uid;
    </select>

    <!-- 新しい仕訳明細を挿入する -->
    <insert id="insertJournalDetail" parameterType="java.util.List">
    INSERT INTO TblJournalDetail (
        uid, projectID, bookDate, lineNumber, debitAccountTitleID, debitDescription,
        creditDescription, debitcdTaxationKbn, creditcdTaxationKbn, debitcdCTaxPriceKbn,
        creditcdCTaxPriceKbn, debitTransValue, creditTransValue, creditAccountTitleID,
        creditAccountTitleName
    ) VALUES
    <foreach collection="list" item="item" separator=",">
        (#{item.uid}, #{item.projectID}, #{item.bookDate}, #{item.lineNumber}, #{item.debitAccountTitleID},
        #{item.debitDescription}, #{item.creditDescription}, #{item.debitcdTaxationKbn},
        #{item.creditcdTaxationKbn}, #{item.debitcdCTaxPriceKbn}, #{item.creditcdCTaxPriceKbn},
        #{item.debitTransValue}, #{item.creditTransValue}, #{item.creditAccountTitleID},
        #{item.creditAccountTitleName})
    </foreach>
</insert>

    <!-- 既存の仕訳明細を更新する -->
    <update id="updateJournalDetail" parameterType="com.softtech.entity.TblJournalDetail">
        UPDATE TblJournalDetail SET
            divisionID = #{divisionID},
            projectID = #{projectID},
            generalHeaderID = #{generalHeaderID},
            journalHeaderID = #{journalHeaderID},
            bookDate = #{bookDate},
            cdFormStatus = #{cdFormStatus},
            lineNumber = #{lineNumber},
            detailDate = #{detailDate},
            cdContentKbn = #{cdContentKbn},
            cdDrCrKbn = #{cdDrCrKbn},
            accountTitleID = #{accountTitleID},
            cashFlowTitleID = #{cashFlowTitleID},
            cdTransactionDetailKbn = #{cdTransactionDetailKbn},
            transactionDetailID = #{transactionDetailID},
            description = #{description},
            cdTaxationKbn = #{cdTaxationKbn},
            cdCTaxPriceKbn = #{cdCTaxPriceKbn},
            cTaxRate = #{cTaxRate},
            transValue = #{transValue},
            netValue = #{netValue},
            cTaxValue = #{cTaxValue},
            displayValue = #{displayValue},
            cdNegationStatus = #{cdNegationStatus},
            updateID = #{updateID},
            updateDate = #{updateDate}
        WHERE uid = #{uid}
    </update>

    <!-- TblJournalDetail から最大行番号を選択する -->
   <select id="getMaxLineNumber" resultType="int">
    SELECT COALESCE(MAX(lineNumber), 0) FROM TblJournalDetail
</select>

    <!-- TblAccount からすべてのアカウントを選択する -->
    <select id="getAllAccounts" resultType="com.softtech.entity.TblAccount">
        SELECT * FROM TblAccount
    </select>

</mapper>
