<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.softtech.mappers.AdjustmentDetailMapper">

    <resultMap id="AdjustmentDetailResultMap" type="com.softtech.entity.AdjustmentDetail">
        <id column="id" property="id"/>
        <result column="employeeID" property="employeeID"/>
        <result column="employeeEmail" property="employeeEmail"/>
        <result column="year" property="year"/>
        <result column="uploadStatus" property="uploadStatus"/>
        <result column="adjustmentStatus" property="adjustmentStatus"/>
        <result column="insertDate" property="insertDate"/>
        <result column="updateDate" property="updateDate"/>
    </resultMap>

    <select id="selectAll" resultMap="AdjustmentDetailResultMap">
        SELECT * FROM adjustmentdetail
    </select>

    <select id="selectById" parameterType="Integer" resultMap="AdjustmentDetailResultMap">
        SELECT * FROM adjustmentdetail WHERE id = #{id}
    </select>

    <select id="findByEmployeeIdAndYear" parameterType="map" resultMap="AdjustmentDetailResultMap">
        SELECT * FROM adjustmentdetail
        WHERE employeeID = #{employeeID} AND year = #{year}
    </select>

    <insert id="insert" parameterType="com.softtech.entity.AdjustmentDetail">
        INSERT INTO adjustmentdetail (employeeID, employeeEmail, year, uploadStatus, adjustmentStatus, insertDate, updateDate)
        VALUES (#{employeeID}, #{employeeEmail}, #{year}, #{uploadStatus}, #{adjustmentStatus}, #{insertDate}, #{updateDate})
    </insert>

    <update id="update" parameterType="com.softtech.entity.AdjustmentDetail">
        UPDATE adjustmentdetail SET
            uploadStatus = #{uploadStatus},
            adjustmentStatus = #{adjustmentStatus},
            updateDate = #{updateDate},
            employeeEmail = #{employeeEmail}
        WHERE id = #{id}
    </update>

    <delete id="deleteById" parameterType="Integer">
        DELETE FROM adjustmentdetail WHERE id=#{id}
    </delete>
</mapper>
