<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.softtech.mappers.BaseSalaryInfoMapper">
    <select id="insertBaseSalaryInfo" parameterType="com.softtech.entity.BaseSalaryInfoEntity">
        insert
        into m_basesalary
        (baseSalaryID,
         employeeID,
         baseSalary,
         year,
         wkPeriodFrom,
         wkPeriodTo,
         overtimePay,
         insufficienttimePay,
         status,
         insertDate,
         updateDate )
        values (#{baseSalaryID},
                #{employeeID},
                #{baseSalary},
                #{year},
                #{wkPeriodFrom},
                #{wkPeriodTo},
                #{overtimePay},
                #{insufficienttimePay},
                #{status},
                date_format(now(), '%Y%m%d'),
                date_format(now(), '%Y%m%d') )

    </select>
    <!-- 基本給リストの検索 -->
    <select id="getBaseSalaryInfoList" parameterType="string" resultType="com.softtech.entity.BaseSalaryInfoEntity">
        select *
        from m_basesalary
        where employeeID = #{employeeID}
    </select>

    <!-- 基本給更新画面へのときの検索 -->

    <select id="getBaseSalaryInfo" parameterType="string" resultType="com.softtech.entity.BaseSalaryInfoEntity">
        select *
        from m_basesalary
        where baseSalaryID = #{baseSalaryID}
    </select>

    <!-- 基本給更新 -->
    <select id="updateBaseSalaryInfo" parameterType="com.softtech.entity.BaseSalaryInfoEntity">
        update
            m_basesalary
        set employeeID=#{employeeID},
            baseSalary=#{baseSalary},
            year=#{year},
            wkPeriodFrom=#{wkPeriodFrom},
            wkPeriodTo=#{wkPeriodTo},
             overtimePay=#{overtimePay},
            insufficienttimePay=#{insufficienttimePay},
            status=#{status},
            insertDate=date_format(now(), '%Y%m%d'),
            updateDate=date_format(now(), '%Y%m%d')
        where baseSalaryID = #{baseSalaryID}
    </select>
    <!--最大ID取得。-->
    <select id="getMaxBaseSalaryID" resultType="string">
        <!--基本給情報IDを取得する。-->
        select
        MAX(baseSalaryID)
        from
        m_basesalary ct

    </select>
</mapper>