<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper
                PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.softtech.mappers.BaseSalaryInfoMapper">
	<insert id="insertBaseSalaryInfo" parameterType="map">
		insert
	into
		m_basesalary
		(
			baseSalary,
			minusHour,
			plusHour,
			wkPeriodFrom,
			wkPeriodTo,
			status,
			insertDate,
		)
	values
			#{baseSalary},
			#{wkPeriodFrom},
			#{wkPeriodTo},
			#{minusHour},
			#{plusHour},
			#{status},
			date_format(now(),'%Y%m%d'),


	</insert>
<!-- 基本給リストの検索 -->
	<select id="getBaseSalaryInfoList" parameterType="string" resultType="com.softtech.entity.BaseSalaryInfoEntity">
		select
			*
		from
			m_basesalary
		where
			employeeID=#{employeeID}
	</select>

<!-- 基本給更新画面へのときの検索 -->

		<select id="getBaseSalaryInfo" parameterType="string" resultType="com.softtech.entity.BaseSalaryInfoEntity">
		select
			*
		from
			m_basesalary
		where
			baseSalaryID=#{baseSalaryID}
	</select>

<!-- 基本給更新 -->
	<update id="updateBaseSalaryInfo" parameterType="map">
		    update
				m_basesalary
			set
    			baseSalary=#{baseSalary},
   	 			minusHour=#{minusHour},
    			plusHour=#{plusHour},
    			wkPeriodFrom=#{wkPeriodFrom},
    			wkPeriodTo=#{wkPeriodTo},
    			status=#{status},
    			updateDate=date_format(now(),'%Y%m%d')
			where
 				employeeID=#{employeeID}
	</update>
</mapper>