<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper
                PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.softtech.mappers.ContractInfoMapper">
	<select id="getContractInfoList" parameterType="string" resultType="com.softtech.entity.ContractInfoEntity">
		 <!--給料情報を取得する。-->
 		select
			ct.*,e.employeeName,cm.companyName
		from
			ems.employee e,
			ems.contract ct,
			ems.company cm
		where ct.status = '1'
		and ct.employeeID = e.employeeID
		and ct.companyID = cm.companyID
		<!-- and ct.employeeID = #{employeeID} -->
	    <if test="employeeID != null and employeeID != ''">
	        and ct.employeeID = #{employeeID}
	    </if>
	</select>
	<select id="getContractInfo" parameterType="string" resultType="com.softtech.entity.ContractInfoEntity">
		 <!--契約情報を取得する。-->
 		select
			ct.*,e.employeeName,cm.companyName
		from
			ems.employee e,
			ems.contract ct,
			ems.company cm
		where ct.status = '1'
		and ct.employeeID = e.employeeID
		and ct.companyID = cm.companyID
		and ct.contractID = #{contractID}
	</select>
	<!--契約情報を更新する。-->
	<update id="updateContractInfo" parameterType="com.softtech.entity.ContractInfoEntity">
	update ems.contract set
		contractName=#{contractName},
		employeeID=#{employeeID},
		companyID=#{companyID},
		price=#{price},
		payOff=#{payOff},
		lowerTime=#{lowerTime},
		lowerPrice=#{lowerPrice},
		upperTime=#{upperTime},
		upperPrice=#{upperPrice},
		contractBeginDate=#{contractBeginDate},
		contractEndDate=#{contractEndDate},
		paymentTerm=#{paymentTerm},
		postNeed=#{postNeed},
		timeReportPath=#{timeReportPath},
		invoice=#{invoice},
		status=#{status}
	where contractID=#{contractID}
	</update>
	<!--最大ID取得。-->
	<select id="getMaxContractID"  resultType="string">
		 <!--契約情報IDを取得する。-->
 		select
			MAX(contractID)
		from
			contract ct

	</select>
	<!--契約情報を新規する。-->
	<insert id="insertContractInfo" parameterType="com.softtech.entity.ContractInfoEntity" useGeneratedKeys="true" keyProperty="contractID">

	insert into ems.contract(
        contractName,
        employeeID,
        companyID,
        price,
        payOff,
        lowerTime,
        lowerPrice,
        upperTime,
        upperPrice,
        contractBeginDate,
        contractEndDate,
        paymentTerm,
        postNeed,
        timeReportPath,
        invoice,
        status,
        insertDate,
        updateDate) values (
        #{contractName},#{employeeID},#{companyID},#{price},#{payOff},#{lowerTime},#{lowerPrice},#{upperTime},
        #{upperPrice},#{contractBeginDate},#{contractEndDate},#{paymentTerm},#{postNeed},#{timeReportPath},#{invoice},#{status},
       date_format(now(),'%Y%m%d'), date_format(now(),'%Y%m%d'))

	</insert>
	
	<select id="getAllContractInfoList" resultType="com.softtech.entity.ContractInfoEntity">
	    select
	        ct.*,e.employeeName,cm.companyName
	    from
	        ems.employee e,
	        ems.contract ct,
	        ems.company cm
	    where ct.status = '1'
	    and ct.employeeID = e.employeeID
	    and ct.companyID = cm.companyID
	    order by ct.contractID
	</select>
 </mapper>