<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.softtech.mappers.EmployeeInfoMapper">
	<insert id="save" parameterType="com.softtech.entity.EmployeeInfoEntity">
		insert into employee
		(employeeID,
		 employeeName,
		 password,
		 mailAdress
		)
		values
		(#{employeeID},
		 #{employeeName},
		 #{password},
		 #{mailAdress}
		)
	</insert>

	<select id="getEmployee" resultType="com.softtech.entity.Employee">
		select employeeName, employeeID
		FROM employee;
	</select>

	<select id="getEmployeeID" parameterType="string" resultType="com.softtech.entity.EmployeeInfoEntity">
		select *
		from employee
		where employeeID = #{employeeID}
	</select>

	<select id="getEmployeeAll" parameterType="string" resultType="com.softtech.entity.EmployeeInfoEntity">
		select *
		FROM employee
	</select>

	<select id="getUpdateEmployeeByEmployeeID" parameterType="string" resultType="com.softtech.entity.EmployeeInfoEntity">
		select *
		from employee
		where employeeID = #{employeeID}
	</select>

	<update id="update" parameterType="com.softtech.entity.EmployeeInfoEntity">
		update employee
    	set
    	    employeeName= #{employeeName},
    	    status = #{status},
    	    sex = #{sex},
    	    epType = #{epType},
    	    birthday = #{birthday},
    	    age = #{age},
    	    joinedDate = #{joinedDate},
    	    joinedTime = #{joinedTime},
    	    postCode = #{postCode},
    	    address = #{address},
    	    phoneNumber = #{phoneNumber},
    	    authority = #{authority},
    	    mailAdress = #{mailAdress},
    	    insertDate = date_format(now(),'%Y%m%d'),
    	    updateDate = date_format(now(),'%Y%m%d')
    	    where employeeID = #{employeeID}
	</update>

	<select id="getMaxEmployeeID" resultType="string">
		select MAX(employeeID) from ems.employee
		WHERE employeeID LIKE 'E%' ;
	</select>
</mapper>
