<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper
                PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.softtech.mappers.ExpensesMapper">
<!--給料作成情報を取得する。給料情報-->
	<select id="insertExpenses" parameterType="com.softtech.entity.ExpensesEntity" >
		call updateexpenses('${accrualDate}',
							'${cost}',
							'${personel}',
							'${confirmStaus}',
							'${confirmDate}',
							'${confirmer}',
							'${stmtlStaus}',
							'${stmtlDate}',
							'${paymentType}');
	</select>
</mapper>