<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.softtech.mappers.IncomeTaxInfoMapper">

    <insert id="insertIncomeTaxInfo" parameterType="com.softtech.entity.IncomeTaxInfoEntity">
        insert into m_incometax
        (incomeTaxID,
         employeeID,
         year,
         residentTax1,
         residentTax2,
         residentTax3,
         residentTax4,
         residentTax5,
         residentTax6,
         residentTax7,
         residentTax8,
         residentTax9,
         residentTax10,
         residentTax11,
         residentTax12,
		 rental01,
		 rental02,
		 rental03,
		 rental04,
		 rental05,
		 rental06,
		 rental07,
		 rental08,
		 rental09,
		 rental10,
		 rental11,
		 rental12,
		 rentalMgmtFee01,
		 rentalMgmtFee02,
		 rentalMgmtFee03,
		 rentalMgmtFee04,
		 rentalMgmtFee05,
		 rentalMgmtFee06,
		 rentalMgmtFee07,
		 rentalMgmtFee08,
		 rentalMgmtFee09,
		 rentalMgmtFee10,
		 rentalMgmtFee11,
		 rentalMgmtFee12,

         status,
         insertDate,
         updateDate)
            value
            (#{incomeTaxID},
             #{employeeID},
             #{year},
             #{residentTax1},
             #{residentTax2},
             #{residentTax3},
             #{residentTax4},
             #{residentTax5},
             #{residentTax6},
             #{residentTax7},
             #{residentTax8},
             #{residentTax9},
             #{residentTax10},
             #{residentTax11},
             #{residentTax12},
			 #{rental01},
			 #{rental02},
			 #{rental03},
			 #{rental04},
			 #{rental05},
			 #{rental06},
			 #{rental07},
			 #{rental08},
			 #{rental09},
			 #{rental10},
			 #{rental11},
			 #{rental12},
			 #{rentalMgmtFee01},
			 #{rentalMgmtFee02},
			 #{rentalMgmtFee03},
			 #{rentalMgmtFee04},
			 #{rentalMgmtFee05},
			 #{rentalMgmtFee06},
			 #{rentalMgmtFee07},
			 #{rentalMgmtFee08},
			 #{rentalMgmtFee09},
			 #{rentalMgmtFee10},
			 #{rentalMgmtFee11},
			 #{rentalMgmtFee12},

             #{status},
             date_format(now(), '%Y%m%d'),
             date_format(now(), '%Y%m%d')
                )
    </insert>
    <!--画面表示getIncomeTax用のquery,入力の社員IDにより、検索する-->
    <select id="getIncomeTaxByEmployeeID" parameterType="string" resultType="com.softtech.entity.IncomeTaxInfoEntity">
        select m_incometax.*,
           employee.employeeName
        from m_incometax
                 LEFT JOIN employee
                           on m_incometax.employeeID = employee.employeeID
        where employee.employeeID = #{employeeID}
    </select>

    <!--更新画面への検索,表示される画面の所得税IDにより、検索する-->
    <select id="getUpdateIncomeTaxByIncomeTaxID" parameterType="String"
            resultType="com.softtech.entity.IncomeTaxInfoEntity">
        select m_incometax.*,
           employee.employeeName
        from m_incometax
	    LEFT JOIN employee
	    on m_incometax.employeeID = employee.employeeID
	    where incomeTaxID = #{incomeTaxID}
    </select>

    <!--最大のIncomeTaxIDを取得、+1用-->
	<select id="getMaxIncomeTaxID" resultType="String">
        select IFNULL(MAX(incomeTaxID), 'I000000000')
        from m_incometax
    </select>

    <!--更新の時、更新画面の年度を表示用-->
    <select id="getYear" resultType="com.softtech.common.IncomeTaxIDName">
        select year
        from m_incometax
        where status = '1'
    </select>

    <update id="updateIncomeTax" parameterType="com.softtech.entity.IncomeTaxInfoEntity">
        update m_incometax
        set employeeID    = #{employeeID},
            year          = #{year},
            residentTax1  = #{residentTax1},
            residentTax2  = #{residentTax2},
            residentTax3  = #{residentTax3},
            residentTax4  = #{residentTax4},
            residentTax5  = #{residentTax5},
            residentTax6  = #{residentTax6},
            residentTax7  = #{residentTax7},
            residentTax8  = #{residentTax8},
            residentTax9  = #{residentTax9},
            residentTax10 = #{residentTax10},
            residentTax11 = #{residentTax11},
            residentTax12 = #{residentTax12},
            rental01	= #{rental01},
			rental02	= #{rental02},
			rental03	= #{rental03},
			rental04	= #{rental04},
			rental05	= #{rental05},
			rental06	= #{rental06},
			rental07	= #{rental07},
			rental08	= #{rental08},
			rental09	= #{rental09},
			rental10	= #{rental10},
			rental11	= #{rental11},
			rental12	= #{rental12},
			rentalMgmtFee01	= #{rentalMgmtFee01},
			rentalMgmtFee02	= #{rentalMgmtFee02},
			rentalMgmtFee03	= #{rentalMgmtFee03},
			rentalMgmtFee04	= #{rentalMgmtFee04},
			rentalMgmtFee05	= #{rentalMgmtFee05},
			rentalMgmtFee06	= #{rentalMgmtFee06},
			rentalMgmtFee07	= #{rentalMgmtFee07},
			rentalMgmtFee08	= #{rentalMgmtFee08},
			rentalMgmtFee09	= #{rentalMgmtFee09},
			rentalMgmtFee10	= #{rentalMgmtFee10},
			rentalMgmtFee11	= #{rentalMgmtFee11},
			rentalMgmtFee12	= #{rentalMgmtFee12},

            status        = #{status},
            updateDate    = date_format(now(), '%Y%m%d')
        where incomeTaxID = #{incomeTaxID}
    </update>
    <!--画面の社員ID選択-->
    <select id="getEmployee" resultType="com.softtech.entity.Employee">
        select employeeName, employeeID
        FROM employee
        where employee.status = "0"
    </select>

	<select id="getIncomeTaxByCondition" resultType="com.softtech.entity.IncomeTaxInfoEntity">
	    SELECT m_incometax.*,
	           employee.employeeName
	    FROM m_incometax
	    LEFT JOIN employee ON m_incometax.employeeID = employee.employeeID
	    WHERE 1=1
	    <if test="employeeID != null and employeeID != ''">
	        AND m_incometax.employeeID = #{employeeID}
	    </if>
	    <if test="year != null and year != ''">
	        AND m_incometax.year = #{year}
	    </if>
	    ORDER BY m_incometax.employeeID, m_incometax.year DESC
	</select>

	<!-- 获取所有年度 -->
	<select id="getDistinctYears" resultType="string">
	    SELECT DISTINCT year
	    FROM m_incometax
	    WHERE year IS NOT NULL
	    ORDER BY year DESC
	</select>
</mapper>