<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper
                PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.softtech.mappers.SalarylistMapper">

<select id="getSalaryinfolist" parameterType="String" resultType="com.softtech.entity.SalaryInfo">
 <!--給料情報を取得する。-->
		 select s.*,
		       e.employeeName

		from salaryinfo s
		left join ems.employee e on s.employeeID = e.employeeID
		where s.month=#{month}
 </select>

	<!-- 最大年月を取得 -->
 <select id="getMaxMonth" resultType="String">
 	select Max(month) from salaryinfo

 </select>

 <select id="getBaseSalary" parameterType="String" resultType="com.softtech.entity.SalaryInfo">
 	select baseSalary from m_basesalary where employeeID=#{employeeID} AND year={#year}

 </select>

 <select id="getOverTime" resultType="com.softtech.entity.SalaryInfo">
 	select w.workTime from workinfo w join contract c on  where c.employeeID=#{employeeID} AND  c.contractID=w.contractID
 	<!-- workinfoのworkTime　-　m_basesalaryのwkPeriodTo　マイナスの場合、０とする
 		条件：contractの社員ID＝No.1　AND　contractのcontractID＝　workinfoのcontractID　 -->
 </select>









</mapper>