<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper
                PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.softtech.mappers.SalaryInfoMapper">
	<!--給料作成情報を取得する。-->
	<select id="getSalaryInfoDetail" parameterType="com.softtech.common.SalaryInfoRecord" resultType="com.softtech.entity.SalaryInfo">
		select ss.*,
		       ee.employeeID,
		       ee.employeeName,
		       ee.address
		from employee ee,salaryinfo ss
		where ee.employeeID=#{employeeID}
		AND   ss.employeeID=#{employeeID}
		AND   ss.month=#{month}
		AND   ee.employeeID=ss.employeeID
	</select>
	<!--給料情報を作成する。-->
	<select id="insertSalaryInfo" parameterType="com.softtech.common.SalaryInfoRecord">
		insert into
			ems.salaryinfo(employeeID,month,paymentDate,base,overTime,shortage,overTimePlus,shortageReduce,
			transportExpense,allowancePlus,allowanceReduce,allowanceReason,welfareSelf,welfareComp,welfareBaby,eplyInsSelf,
			eplyInsComp,eplyInsWithdraw,wkAcccpsIns,withholdingTax,municipalTax,rental,rentalMgmtFee,sum,totalFee,remark)
		values(#{employeeID},#{month},#{paymentDate},#{base},#{overTime},#{shortage},#{overTimePlus},#{shortageReduce},
			#{transportExpense},#{allowancePlus},#{allowanceReduce},#{allowanceReason},#{welfareSelf},#{welfareComp},#{welfareBaby},
			#{eplyInsSelf},#{eplyInsComp},#{eplyInsWithdraw},#{wkAcccpsIns},#{withholdingTax}, #{municipalTax},#{rental},#{rentalMgmtFee},
			#{sum},#{totalFee},#{remark})

	</select>
	<!--給料情報を更新する。-->
	<select id="updateSalaryInfo" parameterType="com.softtech.common.SalaryInfoRecord">
		update  ems.salaryinfo set paymentDate = #{paymentDate},base = #{base},
				overTime = #{overTime},shortage = #{shortage},overTimePlus = #{overTimePlus},
				shortageReduce = #{shortageReduce},transportExpense = #{transportExpense},allowancePlus = #{allowancePlus},
				allowanceReduce = #{allowanceReduce},allowanceReason = #{allowanceReason},welfareSelf = #{welfareSelf},
				welfareComp = #{welfareComp},welfareBaby = #{welfareBaby},eplyInsSelf = #{eplyInsSelf},
				eplyInsComp = #{eplyInsComp},eplyInsWithdraw = #{eplyInsWithdraw},wkAcccpsIns = #{wkAcccpsIns},
				withholdingTax = #{withholdingTax},municipalTax = #{municipalTax},rental = #{rental},
				rentalMgmtFee = #{rentalMgmtFee},sum = #{sum},totalFee = #{totalFee},remark = #{remark}
		where employeeID =#{employeeID}
		AND   month=#{month}

	</select>
</mapper>