<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper
                PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.softtech.mappers.SalarylistMapper">

<select id="getSalaryinfolist" parameterType="String" resultType="com.softtech.entity.SalaryInfoEntity">
 <!--給料情報を取得する。-->
		 select s.*,
		       e.employeeName
		from salaryinfo s
		left join ems.employee e on s.employeeID = e.employeeID
		where s.month=#{month}
 </select>

	<!-- 最大年月を取得 -->
 <select id="getMaxMonth" resultType="String">
 	select Max(month) from salaryinfo
</select>


 <select id="getBaseSalary" parameterType="String" resultType="com.softtech.entity.BaseSalaryInfoEntity">
 	select * from m_basesalary where employeeID=#{employeeID} AND year=#{year}
</select>
<!-- 基本給所属段階の標準報酬を取得 -->
<!--<select id="getStandSalary" parameterType="String" resultType="com.softtech.entity.WelfarefeeInfoEntity">-->
<!-- 	select * from m_welfarefee -->
<!-- 	where salaryFrom <= #{basesalary} -->
<!-- 	AND salaryTo >= #{basesalary} -->
<!-- 	AND year=#{year}-->
<!--</select>-->


 <select id="getWkTime" parameterType="String" resultType="com.softtech.entity.WorkInfo">
 	 SELECT w.workTime FROM workinfo w
 	INNER JOIN contract c ON c.contractID = w.contractID
	INNER JOIN employee e ON e.employeeID = c.employeeID
	WHERE c.employeeID = #{employeeID} AND w.workmonth = #{month}
 </select>


 <select id="getTransportExpense" parameterType="String" resultType="com.softtech.entity.TransportEntity">
	SELECT *
	From transport
	where employeeID=#{employeeID} AND workmonth=#{month}
 </select>


 <select id= "getWfPension" parameterType="String" resultType="com.softtech.entity.WelfarefeeInfoEntity">
 	 SELECT *
 	From m_welfarefee
 	where m_welfarefee.status = '0' 
 	AND #{basesalary} >= salaryFrom 
 	AND salaryTo > #{basesalary} 
 	
</select>


<select id="getAge"  parameterType="String" resultType="String">
 SELECT age
 From employee where employeeID=#{employeeID}
</select>


<select id="getWfBaby"  parameterType="String" resultType="com.softtech.entity.WelfarefeeInfoEntity">
<!--	SELECT rate-->
<!--	From m_welfarebabyrate where year=#{year}-->
	SELECT babyCareCompanyRate
	From m_welfarefee where year=#{year}
</select>

<select id="getEmplyinsrate"  parameterType="String" resultType="com.softtech.entity.EmplyinsrateInfoEntity">
	SELECT *
	From m_emplyinsrate where year=#{year}
</select>

<select id="getTax" parameterType="String" resultType="com.softtech.entity.IncomeTaxInfoEntity">
	SELECT *
	From m_incometax where employeeID=#{employeeID} AND year=#{year}
</select>

<select id="getDate" parameterType="String" resultType="com.softtech.entity.SalaryInfoEntity">
	SELECT insertDate , updateDate
	From salaryInfo
</select>

<insert id="insertSalaryList" parameterType="String">
		insert into
			ems.salaryinfo(employeeID,month,paymentDate,base,overTime,shortage,overTimePlus,shortageReduce,
			transportExpense,specialAddition,allowancePlus,allowanceReduce,allowanceReason,welfarePensionSelf,
			welfareHealthSelf,welfarePensionComp,welfareHealthComp,welfareBaby,eplyInsSelf,
			eplyInsComp,eplyInsWithdraw,wkAcccpsIns,withholdingTax,municipalTax,rental,rentalMgmtFee,
			specialReduce,sum,totalFee,remark,deleteFlg,insertDate,updateDate)
		values(#{employeeID},#{month},#{paymentDate},#{base},#{overTime},#{shortage},#{overTimePlus},#{shortageReduce},
			#{transportExpense},#{specialAddition},#{allowancePlus},#{allowanceReduce},#{allowanceReason},#{welfarePensionSelf},
			#{welfareHealthSelf},#{welfarePensionComp},#{welfareHealthComp},#{welfareBaby},#{eplyInsSelf},
			#{eplyInsComp},#{eplyInsWithdraw},#{wkAcccpsIns},#{withholdingTax}, #{municipalTax},#{rental},#{rentalMgmtFee},
			#{specialReduce},#{sum},#{totalFee},#{remark},#{deleteFlg},date_format(now(),'%Y%m%d'),date_format(now(),'%Y%m%d') )

</insert>

<select id="getWfPensionByStandSalary" parameterType="String" resultType="com.softtech.entity.WelfarefeeInfoEntity">
    SELECT 
        standardMonthlyRemuneration as standSalary,
        annuityRatio,
        careRatio,
        notCareRatio
    FROM 
        welfareinfo
    WHERE 
        standardMonthlyRemuneration = #{standSalary}
        AND deleteFlg = '0'
    ORDER BY 
        insertDate DESC
    LIMIT 1
</select>


</mapper>