<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper
                PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.softtech.mappers.WelfareInfoMapper">
 <!-- 作成時、社員情報を取得する。inner join-->
	<select id="getEmployeeDetail" parameterType="String"  resultType="com.softtech.entity.WelfareInfo">
     select employeeID,
     		employeeName
     from employee
     where employeeID = #{employeeID}
  </select>
  <!--福祉情報を作成と更新-->
  <select id="makeWelfare" parameterType="com.softtech.entity.WelfareInfo" >

 		call updatewelfare(   '${employeeID}',
 						      '${startDate}',

 						      '${base}',
 						      '${welfarePensionSelf}',
 						      '${welfarePensionComp}',
 						      '${welfareHealthComp}',
 						      '${welfareHealthSelf}',
 						      '${welfareBaby}',
 						      '${eplyInsSelf}',
 						      '${eplyInsComp}',
 						      '${eplyInsWithdraw}',
 						      '${wkAcccpsIns}',
 						      '${withholdingTax}',
 						      '${municipalTax}',
 						      '${rental}',
 						      '${rentalMgmtFee}',
 						      '${status}',
 						      '${insertDate}',
 						      '${insertEmployee}',
 						      '${updateDate}',
 						      '${updateEmployee}');

  </select>
</mapper>